/*
 *  File:           html_form.css
 *  Author:         Kerry Veenstra
 *
 *  $Log: html_form.css,v $
 *  Revision 1.6  2014/08/01 02:28:58  kerryveenstra
 *  format <li> and separator
 *
 *  Revision 1.5  2014/07/16 20:43:58  kerryveenstra
 *  revert prior change
 *
 *  Revision 1.4  2014/07/13 23:18:16  kerryveenstra
 *  separators are bold
 *
 *  Revision 1.3  2013/09/06 22:39:58  kerryveenstra
 *  adjust errorbox
 *  add duplicate-email-bad
 *
 *  Revision 1.2  2013/06/20 17:33:54  kerryveenstra
 *  added boxed class for div
 *
 *  Revision 1.1  2013/06/06 01:58:59  kerryveenstra
 *  Initial revision
 *
 *
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

/*tried out gradeint, doesnt work*/
/*html {
    height: 1000px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: blue;
    background-repeat: none;
    background: -webkit-linear-gradient( to bottom, blue, white);
    background: -moz-linear-gradient( to bottom, blue, white);
    background: -ms-linear-gradient( to bottom, blue, white);
    background: -o-linear-gradient( to bottom, blue, white);
    background: linear-gradient( to bottom, blue, white);
}*/


article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 130%;
    font-family:Arial,Helvetica,sans-serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body
{
    background-color:White;       /* good */
    padding-left:1em;
    padding-bottom:50px;
    width:45em;
    margin-left: auto;
    margin-right: auto;

}

h1 {
    font-family:Verdana, Geneva, sans-serif;
    font-size:200%;
    font-weight:regular;
    line-height: 130%;
    margin-top:0.5em;
    padding-top:0.3em;
    padding-left:0.7em;
    padding-bottom:0.4em;
    margin-bottom:0.5em;
    color:White;
    background-color:MidnightBlue;
}

h2 {
    font-family:Verdana, Geneva, sans-serif;
    font-size:150%;
    font-weight:regular;
    line-height: 100%;
    margin-top:1.2em;
    padding-top:0.6em;
    padding-left:1em;
    padding-bottom:0.7em;
    margin-bottom:0.5em;
    color:White;
    background-color:MidnightBlue;
}

h3 {

    font-family:Verdana, Geneva, sans-serif;
    font-size:150%;
    font-weight: bold;
    font-weight:regular;
    line-height: 100%;
    color:MidnightBlue;

}

p {font-size:1em;}
a:link {color:Indigo;}     /* unvisited link */
a:visited {color:Indigo;}  /* visited link */
a:hover {color:Blue;}    /* mouse over link */
a:active {color:Indigo;}   /* selected link */

ul {list-style-type:none; padding:0px; margin:0px;} /* for compatibility */

ul li
{
color:MidnightBlue;                          /* good */
vertical-align:middle;
}

ul li label
{
margin-left:28px;
}

span.separator
{
padding-top: 1.25em;
padding-left:14px;
}

label {vertical-align:middle;}
span.label {padding-left:4px;}




span.duplicate-email-good
{
    color:DarkSlateGray;
    font-size:100%;
    padding-left:0.5em;
}

span.duplicate-email-bad
{
    color:Crimson;
    font-size:100%;
    padding-left:0.5em;
}


input[type="email"]
{
    border-radius: 4px;
    display: inline-block;
    width: 100%;
    min-height: 40px;
    padding: 1px 14px;
    margin: 6px 0;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    overflow-y: scroll;
}

input[type="email"]:focus
{
    background-color: #f1f1ff;
}

input[type="radio"] {
    vertical-align:middle; 
    margin-top:-3px;
    margin: 6px 0;
}
input[type="checkbox"] {vertical-align:middle; margin-top:-2px;}
input[type="text"] 
{
    border-radius: 4px;
    display: inline-block;
    width: 100%;
    min-height: 40px;
    padding: 1px 14px;
    margin: 6px 0;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    overflow-y: scroll;
}
input[type="text"]:focus
{
    background-color: #f1f1ff;
}

input[type="large_text"]
{
    width: 100%;
    height: 300px;
    padding: 10px 14px;
    margin: 8px 0;
    margin-top:1px;
    box-sizing: border-box;
    overflow-y: scroll;
}



input[type=submit] 
{
    font-weight: bold;
    font-size: 1.2em;
    margin-top:2em;
    margin-bottom:2em;
    width: 100px;
    background-color: #ffffff;
    color: MidnightBlue;
    padding: 8px 12px;
    margin: 8px 620px;
    border: 2px;
    border-style: solid;
    border-color: MidnightBlue
    border-radius: 2px;
    -o-transition:color .1s ease-out, background .2s ease-in;
    -ms-transition:color .1s ease-out, background .2s ease-in;
    -moz-transition:color .1s ease-out, background .2s ease-in;
    -webkit-transition:color .1s ease-out, background .2s ease-in;
    transition:color .1s ease-out, background .2s ease-in;
}

input[type=submit]:hover 
{
    border-color: MidnightBlue;
    color: white;
    background-color: MidnightBlue;
}

input[type=submit]:focus 
{
    border-color: MidnightBlue;
    color: white;
    background-color: #00619b;
}

input.previous 
{
    font-weight: bold;
    font-size: 1.2em;
    margin-top:2em;
    margin-bottom:2em;
    width: 140px;
    background-color: #ffffff;
    color: MidnightBlue;
    padding: 8px 28px;
    margin: 8px 460px;
    border: 2px;
    border-style: solid;
    border-color: MidnightBlue
    border-radius: 2px;
    -o-transition:color .1s ease-out, background .2s ease-in;
    -ms-transition:color .1s ease-out, background .2s ease-in;
    -moz-transition:color .1s ease-out, background .2s ease-in;
    -webkit-transition:color .1s ease-out, background .2s ease-in;
    transition:color .1s ease-out, background .2s ease-in;
}

input.previous:hover 
{
    border-color: MidnightBlue;
    color: white;
    background-color: MidnightBlue;
}

input.previous:focus 
{
    border-color: MidnightBlue;
    color: white;
    background-color: #00619b;
}

input.next 
{
    position:relative;
    top:0%;
    left:0%;
    bottom:58px;
    font-weight: bold;
    font-size: 1.2em;
    margin-top:2em;
    margin-bottom:2em;
    width: 100px;
    background-color: #ffffff;
    color: MidnightBlue;
    padding: 8px 12px;
    margin: 8px 620px;
    border: 2px;
    border-style: solid;
    border-color: MidnightBlue
    border-radius: 2px;
    -o-transition:color .1s ease-out, background .2s ease-in;
    -ms-transition:color .1s ease-out, background .2s ease-in;
    -moz-transition:color .1s ease-out, background .2s ease-in;
    -webkit-transition:color .1s ease-out, background .2s ease-in;
    transition:color .1s ease-out, background .2s ease-in;
}

button
{
    position:relative;
    top:0%;
    left:0%;
    bottom:58px;
    font-weight: bold;
    font-size: 1.2em;
    margin-top:2em;
    margin-bottom:2em;
    width: 100px;
    background-color: #ffffff;
    color: MidnightBlue;
    padding: 8px 12px;
    margin: 8px 620px;
    border: 2px;
    border-style: solid;
    border-color: MidnightBlue
    border-radius: 2px;
    -o-transition:color .1s ease-out, background .2s ease-in;
    -ms-transition:color .1s ease-out, background .2s ease-in;
    -moz-transition:color .1s ease-out, background .2s ease-in;
    -webkit-transition:color .1s ease-out, background .2s ease-in;
    transition:color .1s ease-out, background .2s ease-in;
}

button:hover
{
    border-color: MidnightBlue;
    color: white;
    background-color: MidnightBlue;
}

button:focus
{
    border-color: MidnightBlue;
    color: white;
    background-color: #00619b;
}


form 
{
    float: left;
    display: inline-block;
}

textarea 
{
    border-radius: 4px;
    display: inline-block;
    width: 100%;
    height: 45px;
    padding: 10px 14px;
    margin: 8px 0;
    margin-top: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    overflow-y: scroll;
    font: inherit;
    font-size: 13px;
    resize: none;
}

textarea:focus
{
    background-color: #f1f1ff;
}

.tooltip {
    transition: 0s background-color; /* transition to delay appearance of the tooltip */

    position: relative;
    display: inline-block;
}

.tooltip span {
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #f7f7f7;
    color: black;
    text-align: left;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 10px;
    border: 1.2px;
    border-radius: 3px;
    border-style: solid;
    border-color: #a5a5a5; 
    font-size: 12px;
 
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    transition-delay: 1s;
    visibility: visible;
}

.info {
    width: 3%;
    height: 3%;
}


div.form_element {padding-top:1em;}

div.title
{
    color:MidnightBlue;
    font-weight:bold;
    padding:3px 0px;
}

div.errorbox-bad
{
    background-color:Yellow;
    border:2px solid Black;
    padding: 0.3em;
}

div.errorbox-good {}

div.asterisk
{
    color:Crimson;                      /* good */
    padding-left:0.3em;
    padding-top:0.5em;
}

span.asterisk
{
    color:Crimson;                      /* good */
    padding-left:0.3em;
}

div.subtitle
{
    color:DarkSlateGray;                        /* good */
    font-size:100%;                        /* good */
    padding-top:1px;
    padding-bottom:2px;
}

div.boxed
{
    border:2px solid Crimson;
    padding: 0.3em;
}
/*textarea.textarea {} */
/*span.checkboxes {} */
div.section_header {color:MidnightBlue;}  /* good */
span.required {color:MidnightBlue;}


