* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 100;
  padding: 0;
}


header {
	position: fixed;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 48px;
  	z-index: 10;
  	background: #eeeeee;
    -webkit-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
  	box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
  	transition: top 0.2s ease-in-out;
}
  

.header-content {
	position: relative;
	bottom: 40%;
	text-align: center;

}

.page-content-container{
	/*margin: 100px auto;*/
	margin-top: 0;
	margin-bottom: 0;
  margin-left: 0vw;
	/*width: 1475px;*/
	padding: 30px;
	padding-right: 0px;
}

body {
	padding-top: 48px;
	background-color: #ffffff;
}

.container {
	margin: auto;
	display: inline-grid;
	grid-template-columns: 300px 300px 300px 300px;
	grid-template-rows: auto;
	grid-column-gap: 2vw; /* used to be 20px, currently at 10% viewport width*/
  grid-row-gap: 4vw;
  position: absolute;
	grid-template-areas:
		"1a 1b 1c 1d"
		"2a 2b 2c 2d"
		"3a 3b 3c 3d"
    "4a 4b 4c 4d"
    "5a 5b 5c 5d"
    "6a 6b 6c 6d";
}


.block{
  justify-self: center;
  align-self: center;
}

#item1a{
	grid-area: 1a;
}
#item1b{
	grid-area: 1b;
}
#item1c{
	grid-area: 1c;
}
#item1d{
	grid-area: 1d;
}
#item2a{
	grid-area: 2a;
}
#item2b{
  grid-area: 2b;
}
#item2c{
  grid-area: 2c;
}
#item2d{
  grid-area: 2d;
}
#item3a{
  grid-area: 3a;
}
#item3b{
  grid-area: 3b;
}
#item3c{
  grid-area: 3c;
}
#item3d{
  grid-area: 3d;
}


.nav-up {
    top: -48px;
}

.thumbnail {
	position: relative;
  margin: 2%;
  overflow: hidden;
  -moz-transition: all 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-transition: all 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
	transition: all .6s ease-in-out cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.thumbnail img {
	max-width: 19vw;
	max-height: 100%;
	-moz-transition: all 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-transition: all 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955); 
	transition: all .6s ease-in-out cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.thumbnail:hover {
	position: relative;
  -moz-transform: scale(1.07);
  -webkit-transform: scale(1.07);
  transform: scale(1.07);
/*
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition:transform 0.3s ease-in-out;
    -ms-transition:transform 0.3s ease-in-out;*/

}


.thumbnail:focus { 
  position: relative;
  -moz-transform: scale(22);
  -webkit-transform: scale(22);
  transform: scale(22);
/*
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition:transform 0.3s ease-in-out;
    -ms-transition:transform 0.3s ease-in-out;*/

}


#image-rendering: {
	/*width: 60%;
    height: 60%;*/
}



/*@media(max-width: 700px) {

  .block {
    
  }

}*/



/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
position: fixed;
top: -100%;
width: 100%;
background: rgba(0,0,0,.7);
width: 100%;
opacity: 0;
-webkit-transition: opacity .5s ease-in-out;
-moz-transition: opacity .5s ease-in-out;
-o-transition: opacity .5s ease-in-out;
transition: opacity .5s ease-in-out;
overflow: hidden;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target img {
margin: auto;
position: absolute;
top: 0;
left:0;
right:0;
bottom: 0;
max-width: 40vw;
height: 80%;
border: 3px solid white;
box-shadow: 0px 0px 8px rgba(0,0,0,.3);
box-sizing: border-box;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

/* Styles the close link, adds the slide down transition */

a.lightbox-close {
display: block;
width:100vw;
height:100vw;
box-sizing: border-box;
color: black;
text-decoration: none;
position: absolute;
top: -80px;
right: 0;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
content: "";
display: block;
height: 30px;
width: 1px;
background: black;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
content: "";
display: block;
height: 30px;
width: 1px;
background: black;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(-45deg);
-moz-transform:rotate(-45deg);
-o-transform:rotate(-45deg);
transform:rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
opacity: 1;
top: 0;
bottom: 0;
}

.lightbox-target:target img {
max-height: 100%;
max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
top: 0px;
}
